/* * {
  border: 1px solid red; 
} */

.background-image {
  /* Full screen background image will cover the entire viewport */
  background: url('/img/IMG_7826.jpeg') no-repeat center center fixed; 
  /* Scale the background image to cover the entire container */
  background-size: cover;
  /* Set height and width if necessary, this example uses full viewport height */
  height: 100vh;
  width: 100%;
  /* Example content styling */
  /* display: flex;
  align-items: center;
  justify-content: center;
  color: white; */
}

.navbar {
  background-color: hsl(0 100% 100% / 0.4);
  position: fixed; /* Fixed positioning to keep navbar at the top of the viewport */
  width: 100%; /* Ensure the navbar extends the full width of the viewport */
  top: 0; /* Align the navbar at the top of the viewport */
  left: 0; /* Align the navbar to the left of the viewport */
  background-color: transparent !important; /* Optional: make background transparent */
  z-index: 1000; /* High z-index to ensure navbar is above other content */
}

.footer {
  background-color: hsl(0 100% 100% / 0.4);
  position: fixed; /* Fixed positioning to keep footer at the bottom of the viewport */
  width: 100%; /* Ensure the footer extends the full width of the viewport */
  bottom: 0; /* Align the footer at the bottom of the viewport */
  left: 0; /* Align the footer to the left of the viewport */
  background-color: transparent !important; /* Optional: make background transparent */
  z-index: 1000; /* High z-index to ensure footer is above other content */
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Media query for mobile styles */
@media screen and (max-width: 1023px) {
  .navbar-menu .navbar-brand.is-absolute-centered {
    position: static;
    transform: none;
  }
}

body {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.no-gap .column {
  padding-left: 0;
  padding-right: 0;
}

.figure-img {
  /* height: 100%; */
  object-fit: cover;
  height: auto;
  width: 100%;
  /* transition: transform 0.3s ease; */
}

.event-img{
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}

.figure {
  text-align: center;
  line-height: 0;  
}

.menuItem {
  position: relative;
  display: inline-block;
  width: 20rem;
  height: 5rem;
  line-height: 5rem;
  overflow: hidden;
  /* background-color: cadetblue; */
  cursor: pointer;
  white-space: nowrap;
}

.menuItem span {
  position: absolute;
  white-space: nowrap;
  display: inline-block;
  animation: scrollItem 8s linear infinite;
}

@keyframes scrollItem {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

.alternate-font {
  font-family: 'Times New Roman', serif; /* Alternate font */
}

.alternate2-font {
  font-family: Arial, sans-serif; /* Default web font */
}

.timer-dashed {
  border: 2px dashed #4f4f4f; /* Adjust color as needed */
  padding: 10px;
  display: inline-block;
  margin: 5px;
  border-radius: 3px; /* Adds rounded corners. Adjust radius as needed */
}

.notification-dot {
  position: absolute;
  top: -5px;    /* Adjust this value as needed to move the dot up or down */
  left: -5px;   /* Adjust this value as needed to move the dot left or right */
  width: 10px;  /* Diameter of the dot */
  height: 10px; /* Diameter of the dot */
  background-color: red;
  border-radius: 50%; /* Makes the dot circular */
  border: 2px solid white; /* Optional, adds a white border around the dot */
}

.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
}

.event-item {
  display: inline-block;
  width: 300px; 
  margin-right: 10px;
  vertical-align: top;
}